.countdown {
  color: white;
  font-weight: bold;
  animation: enlarge 1s ease-in-out;
  text-shadow: rgba(255, 189, 46, 0.658) 2px 0 20px;
}

@keyframes enlarge {
  0% {
    font-size: 3rem;
    opacity: 0.5;
  }
  50% {
    font-size: 10rem;
    opacity: 1;
  }
  100% {
    font-size: 1rem;
    opacity: 0;
  }
}

.card {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 15rem;
  margin: 0;
  margin-bottom: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border: 10px solid white;
  width: 70vw;
  border-radius: 10px;
  background: radial-gradient(
    circle,
    rgb(247, 120, 23) 0%,
    rgb(234, 81, 25) 100%
  );
  text-align: center;
}

.buttonControl {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  margin: 0;
  padding: 0;
  color: white;
  text-shadow: rgba(255, 189, 46, 0.658) 2px 0 20px;
}

.button2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  margin: 0;
  padding: 0;
  color: white;
  text-shadow: rgba(255, 189, 46, 0.658) 2px 0 20px;
}

.buttonControl:hover {
  cursor: pointer;
}
